@import "./theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 12;
}

window#waybar {
  background: @bar-bg;
  border-radius: 0px;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 8px;
  border-width: 0;
}

#idle_inhibitor,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#cpu,
#memory,
#temperature,
#network,
#battery,
#clock,
#custom-l_end,
#custom-r_end {
  color: @main-fg;
  margin: 2px 0;
  background: @main-bg;
  padding: 4px 6px 4px 2px;
}

#idle_inhibitor,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#cpu,
#memory,
#temperature,
#network,
#battery,
#clock {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

#custom-l_end {
  margin-left: 2px;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 0;
  border-radius: 8px 0 0 8px;
}

#custom-r_end {
  margin-left: 0;
  margin-right: 2px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 8px 8px 0;
}

#custom-l_end + * {
  margin-left: 0;
}
* + #custom-r_end {
  margin-left: 0;
}

#idle_inhibitor:hover,
#backlight:hover,
#clock:hover,
#mpris:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#battery:hover,
#custom-swaync:hover {
  background: @hvr-bg;
  color: @hvr-fg;
}
